params {

	help = false
	
	outdir = "results"

	run_name = false

	var_call_cov = 10
        var_call_count = 10
        var_call_frac = 0.1
        var_filter_mqm = 40
        var_filter_sap = 3000
        var_filter_qual = 20
        cns_min_cov = 20
        cns_gt_adjust = 0.9

	clip = 20

	ref_name = "NC_045512.2"
	ref_fasta = "${baseDir}/assets/reference/NC_045512.2.fa"

	plaintext_email = false

	logo = "${baseDir}/assets/ikmblogo.png"

	email = null

	max_memory = 128.GB
	max_cpus = 16
	max_time = 240.h
	maxMultiqcEmailFileSize = 25.MB

}

manifest {
        name = "ikmb/cov-pipe"
	version = "0.0"
	description = "Covid Pipeline"
	author = "Marc Hoeppner"
	homePage = "https://github.com/ikmb/cov-pipe"
	nextflowVersion = "21.10.6"
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
        enabled = true
        file = "${params.outdir}/pipeline_info/pipeline_timeline.html"
}
report {
        enabled = true
        file = "${params.outdir}/pipeline_info/pipeline_report.html"
}
trace {
        enabled = true
        file = "${params.outdir}/pipeline_info/pipeline_trace.txt"
}
dag {
        enabled = true
        file = "${params.outdir}/pipeline_info/pipeline_dag.svg"
}

process.container = 'ikmb/virus-pipe:devel'

profiles {
	standard {
		includeConfig 'conf/base.config'
		includeConfig 'conf/medcluster.config'
	}
	diagnostic {
                includeConfig 'conf/base.config'
                includeConfig 'conf/diagnostic.config'
	}
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if(type == 'memory'){
    try {
      if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'time'){
    try {
      if(obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'cpus'){
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
