
// Job paramaters to set for this environment

params {
	max_cpus = 16
	max_ram = 120
	ref_with_host = "/work_ifs/ikmb_repository/databases/custom_indices/Homo_sapiens_GRCh38_no_alts_with_virus.fa"
	sqlite_db = "/work_ifs/sukmb352/projects/pipelines/cov-pipe/covid_db.sqlite"
}

// Resource manager settings

executor {
  queueSize=50
}

// Process setting

process {
  
  executor = 'slurm'
  queue = 'all'
  clusterOptions = '-C fast'

}

singularity {
  enabled = true
  runOptions = "-B /work_ifs -B /scratch"
  cacheDir = "/work_ifs/ikmb_repository/singularity_cache"
}

